:root {
  --text-white: #ffffff;
}

.text-muted {
  --bs-text-opacity: 1;
  color: var(--text-white) !important;
}

.text-white {
  color: var(--text-white);
}

.error-text {
  color: darkred !important;
}